body {
	background-color: white;
	text-align: center;
}

div.header {
	background-color: white;
	color: blue;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px blue;
	font: 34px arial, sans-serif;
	z-index: 100;
}

div.header-menu-button {
	margin-top: 4px;
	width: 100%;
	text-align: center;
}

div.header-menu-button-line {
	background-color: blue;
	width: 30px;
	height: 6px;
	margin-bottom: 4px;
}

input[type=text], textarea {
	width: 100%;
	height: 50px;
	font-size: 17px;
	padding: 10px;
	color: orange;
	border-width:1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-bottom-color: #b3b3b3;
	border-left-color: #b3b3b3;
	border-right-color: #b3b3b3;
	border-top-color: #b3b3b3;
}

select {
	width: 100%;
	height: 50px;
	font-size: 17px;
	padding: 10px;
	color: orange;
	border-width:1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-bottom-color: #b3b3b3;
	border-left-color: #b3b3b3;
	border-right-color: #b3b3b3;
	border-top-color: #b3b3b3;
}

::-webkit-input-placeholder {
	color: orange;
}
:-moz-placeholder {
	color: orange;
}
::-moz-placeholder {
	color: orange;
}
:-ms-input-placeholder {
	color: orange;
}

.btn {
	width: 100%;
	height: 50px;
	padding-top: 12px;
	font-size: 17px;
	color: white;
}

div.divide-line {
	background-color: white;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}

